body {
	background-color: #458E88;
}

.navbar-custo {
	background-color: #569F99;
}

.container .navbar-custo .navbar-text-custo {
	color: blue;
}

.jumbotron-custo {
	background-color: #D4A190;
}

.smol {
	color: #FF8E11;
}

.jumbotron-custo .jumbotitle {
	color: #FF8E00;
}

.form-custo {
	background-color: skyblue;
}